html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Raleway');

body {
  font-family: 'Josefin Sans', sans-serif;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1120px;
}
