<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>

  <link rel="stylesheet" href="./assets/css/style.css" type="text/css" media="all" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>

<div class="header">
  <div class="header-col">
    <ul class="header-menu">
      <li><a href="#!">home</a></li>
      <li><a href="#!">post layout</a></li>
      <li><a href="#!">various page</a></li>
      <li><a href="#!">contact</a></li>
    </ul>
  </div>

  <div class="header-col header-col-logo">
    <h1 class="header-logo"><a href="#!">Rahimah Muslihah</a></h1>
  </div>
  
  <div class="header-col">
    <ul class="header-menu header-menu-social">
      <li><a href="#!"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#!"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#!"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="#!"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="#!"><i class="fa fa-instagram"></i></a></li>
      <li><a href="#!"><i class="fa fa-youtube"></i></a></li>
      <li><a href="#!"><i class="fa fa-skype"></i></a></li>
      <li><a href="#!"><i class="fa fa-pinterest"></i></a></li>
      <li><a href="#!"><i class="fa fa-rss"></i></a></li>
    </ul>
  </div>
</div>
