.header {
  @include wrap;
  padding: 32px;

  &-col {
    @include col;
    @include col(2, 5);

    &-logo {
      @include col(1, 5);
      text-align: center;
    }
  }

  &-menu {
    font-size: 0;
    font-weight: bold;
    list-style: none;

    li {
      color: #4b4b4b;
      display: inline-block;
      font-size: 14px;
      line-height: 27px;
      margin-right: 32px;
      text-transform: uppercase;

      &:hover {
        color: black;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &-social {
      text-align: right;

      li {
        font-size: 18px;
        margin-right: 24px;
      }
    }
  }

  &-logo {
    font-size: 18px;
    position: relative;
    text-transform: uppercase;

    &:before {
      background-color: #ab924e;
      content: '';
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
      height: 3px;
      width: 30%;
    }
  }
}
